.item-cinema {
  &__name {
    font-weight: bold;
    display: block;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__description {
  }
  &__image {
    margin-bottom: 5px;
    display: block;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rate {
  }
}