.cinema {
  padding: 50px 0;
  &__name {
  }

  &__body {
    display: flex;
  }

  &__image {
    max-width: 250px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__about {

  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    span {
      display: block;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__description {
    margin-top: 20px;
  }
}