.cinemas {
  padding: 50px 0;
  &__tag {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 50px;
  }
  &__body {
    display: flex;
    gap: 20px;
  }
  &__main {
    flex: 1 1 auto;
    position: relative;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
}
