.cinemas {
  padding-top: 50px;
  &__tag {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
